
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btngetData").click(function () {
            $.ajax
                ({
                    type: "GET",
                    url: "http://192.168.29.250:120/api/DB",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        alert("Hello");
                    },
                    error: function (xhr, err) {
                        alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                        alert("responseText: " + xhr.responseText);
                    }


                });



        });
    });
</script>


@using (Html.BeginForm())
{
    <input type="submit" id="btngetData" value="Getdata" />
    <table id="tbldata">
    </table>
}